.footer {
    background-color:#0f1621;
    list-style: none;
    display: inline;
    float: left;
    width: 100%;
    padding: 1.35em 0;
   
}
.footer a{

    color:white;
    text-decoration: none;
}
.footer li{
    
    display: inline;
    padding:0.15em 1.25em;
}
.Copy
{
    color:#9b9da2;
    float: right;
}
